body{
    background-color: white;
    border: solid;
    border-color: #000000;
    height: auto;
    width: auto;
    }

#caja {
       background-color: #f00000;
       height: 80%;
       margin: 150px 150px 150px 150px;
       padding: 10px;
      }

#caja_2{
        background-color: #0000FF;
        height: 400px;
        margin: 30px;
        padding: 30px;
       }

#caja_3{
        background-color: #7FFF00;
        height: 350px;
        margin: 30px;
       }